PyYaml
scikit-image
scikit-learn
scipy
numpy==1.26
numba
torch
pytorch-lightning
albumentations
matplotlib
seaborn
notebook
opencv-python
h5py
loguru
python-dotenv
fastapi
uvicorn
typer
toml
neptune